{% extends 'base.html' %}

{% block title %}Delete {{ dish.name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Delete {{ dish.name }}</h1>
        <p>Are you sure you want to delete this dish?</p>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'all_dishes' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %} 