{% extends 'base.html' %}

{% block title %}Add Dish{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Add New Dish</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Dish Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group mt-3">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category">
                <!-- Kategoriyalarni bu yerda ko'rsating -->
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-3">Add Dish</button>
    </form>
</div>
{% endblock %} 