{% extends 'base.html' %}

{% block title %}Dish Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ dish.name }}</h1>
            <p>{{ dish.description }}</p>
        </div>
        <div class="col-md-4">
            <h3>Details</h3>
            <ul>
                <li>Category: {{ dish.category.name }}</li>
                <li>Price: ${{ dish.price }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} 